
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    
        <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Reg no</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
            
      </tr>
    </thead>
    <tbody>
        {{#each data}}
      <tr>
        <td>{{this.ID}}</td>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.Regno}}</td>
        <td>{{this.DOB}}</td>
        <td>{{this.Gender}}</td>
        <td>{{this.Address}}</td>
        <td>{{this.City}}</td>
        <td>{{this.State}}</td>
        <td>{{this.Zipcode}}</td>
        
      </tr>
      {{/each}}
      
    </tbody>
  </table>
    <a href="/" class="btn btn-default">Back to home</a>

    </div>
</body>
</html>